.venv/
__pycache__/
*.pyc
.pytest_cache/
.coverage
dist/
build/
data/

webharvest.egg-info/
src/webharvest.egg-info/

*.egg-info/
webharvest.egg-info/
src/webharvest.egg-info/

*.egg-info/
webharvest.egg-info/
src/webharvest.egg-info/
